body {
  width: 100vw;
  overflow-x: hidden;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.swiper-slide {
  margin-top: 70px;
  overflow: hidden;
  border-radius: 10px;
  height: 80vh !important;
}
@media (max-width: 500px) {
  .swiper-slide {
    height: 30vh !important;
  }
}
.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}